body {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    font-size: 1.2vh;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
}

header {
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    box-shadow: 0.1vw 0.1vw 0.3vw 0.3vw rgba(0, 0, 0, 0.2);
    color: white;
    height: 3.5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 50;
}

#body {
    height: 95%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}

#body:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -100;
    background: url('../img/background.jpg') repeat right top;
    opacity: 0.5;
}

#loader {
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    z-index: 100;
}

#logoLoader {
    position: absolute;
    width: 35%;
    height: 70%;
    top: 10%;
    left: 32.5%;
    border-radius: 35%;
    background: linear-gradient(to right, rgba(180, 180, 180, 0.8), rgba(255, 255, 255, 0.8), rgba(120, 120, 120, 0.8));
    box-shadow: 0 0 0 0.07vw rgba(255, 255, 255, 0.5), 0.1vw 0.1vw 0.3vw 0.3vw rgba(0, 0, 0, 0.2);
    transition: top 0.3s ease-in-out, transform 0.3s ease-in-out;
    z-index: 101;
}

#logoLoader.hidden {
    top: -51%;
    transform: scale(0.7);
    transition: top 1s ease-in-out, transform 1s ease-in-out;
}

#logoLoader:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../img/logo.png") no-repeat center bottom;
    background-size: contain;
    border-radius: 35%;
}

#logoLoader:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../img/gears.gif") no-repeat center bottom;
    background-size: contain;

    border-radius: 35%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    display: block;
    height: 1.5%;
    z-index: 50;
}

#localeSelector {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0;
    width: 33%;
    height: 100%;
}

#localeSelector .localeSelectorItem {
    cursor: pointer;
    display: inline-block;
    width: 9%;
    height: 70%;
}

#localeSelector .localeSelectorItem.cs {
    background: url('../img/ico/cs.png') no-repeat right top;
    background-size: contain;
}

#localeSelector .localeSelectorItem.en {
    background: url('../img/ico/en.png') no-repeat right top;
    background-size: contain;
}

#fbHolder {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 33%;
    height: 100%;
    text-align: right;
    z-index: 100;
    transform-style: preserve-3d;
}

#fbHolder > div {
    margin-right: 2%;
}

#fbHolder .fbIframe {
    border: none;
    visibility: visible;
    height: 100%;
}

#banner {
    background: url('../img/left-banner.png') no-repeat left bottom;
    background-size: contain;
    width: 30%;
    height: 43%;
    position: absolute;
    left: 2%;
    bottom: 1%;
    z-index: -102;
}

#menu {
    width: 40%;
    float: left;
    position: relative;
    left: 0;
    border-radius: 0 70% 20% 20%;
    transition: left 0.5s ease-in-out;
}

#menu, #options {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0.6vw 1.5vw 2.1vw 1vw rgba(0, 0, 0, 0.4);
    padding-top: 5%;
    padding-bottom: 7%;
}

#menu.hide {
    left: -45%;
}

#menu:before, #menu:after {
    content: "";
}

#menu:after {
    clear: both;
}

#menu .menuItem-wrapper {
    margin-top: 3%;
    margin-left: 3%;
    display: table;
}

#menu .menuItem-wrapper .menuItem {
    cursor: pointer;
    font-size: 0;
    text-transform: none;
    z-index: 1;
    box-shadow: 0 0 0 0.3vw rgba(255, 255, 255, 1), 0.1vw 0.1vw 0.3vw 0.5vw rgba(0, 0, 0, 0.2);
    transition: opacity 0.4s linear, transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    transform-origin: 0% 50%;
    transform-style: preserve-3d;
}

#menu .menuItem-wrapper .menuItem.blur {
    box-shadow: 0 0 0.7vw 0.3vw rgba(255, 255, 255, 1);
    transform: scale(0.9);
    opacity: 0.7;
}

#menu .menuItem-wrapper .menuItem.active, #menu .menuItem-wrapper .menuItem.clicked {
    transform: scale(1.03);
    box-shadow: 0 0 0 0.4vw rgba(255, 255, 255, 1), 0.4vw 0.7vw 0.7vw 0.3vw rgba(0, 0, 0, 0.4);
    z-index: 10;
    opacity: 1;
}

#options {
    height: 0;
    width: 57%;
    float: right;
    position: relative;
    right: -58%;
    border-radius: 45% 0 20% 20%;
    transition: right 0.5s ease-in-out, height 0.5s ease-in-out;
    transform-origin: 0% 15%;
    display: table;
}

#options:before, #options:after {
    content: "";
}

#options:after {
    clear: both;
}

#options.show {
    right: 0;
    height: 93%
}

#options .optionsItem-wrapper {
    margin-top: 7%;
    margin-left: 3%;
}

#options .optionsItem-wrapper .optionsLabel-wrapper {
    width: 35%;
    float: left;
}

#options .optionsItem-wrapper .optionsLabel-wrapper .optionsLabel {
    font-size: 0;
    float: right;
    box-shadow: 0 0 0 0.1vw rgba(255, 255, 255, 1), 0.1vw 0.1vw 0.3vw 0.3vw rgba(0, 0, 0, 0.2);
}

#options .optionsItem-wrapper .optionsLeft {
    background: url('../img/arrow-left.png') no-repeat right top;
    margin-left: 3%;
    background-size: contain;
    display: inline-block;
    cursor: pointer;
}

#options .optionsItem-wrapper .optionsRight {
    background: url('../img/arrow-right.png') no-repeat right top;
    background-size: contain;
    display: inline-block;
    cursor: pointer;
}

#options .optionsItem-wrapper .optionsItem {
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
    width: 45%;
    font-size: 200%;
    color: white;
    vertical-align: top;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0 0.07vw rgba(255, 255, 255, 1), 0.1vw 0.1vw 0.3vw 0.3vw rgba(0, 0, 0, 0.2);
}

.userInfoItem-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    right: 1%;
    height: 100%;
}

.userInfoItem-wrapper .userInfoImage {
    display: inline-block;
    position: relative;
    right: 5%;
    width: 1.6vw;
    height: 80%;
    border-radius: 20%;
}

.userInfoItem-wrapper .userName {
    display: inline-block;
    color: white;
    font-size: 160%;
    font-weight: bold;
    height: 80%;
}

#game {
    width: 100%;
    height: 100%;
    display: none;
}

#game .gameButtonLabel {
    font-size: 0;
    display: flex;
    justify-content: center;
}

#game .gameButton-wrapper {
    cursor: pointer;
    box-shadow: 0 0 0 0.07vw rgba(255, 255, 255, 0.5), 0.1vw 0.1vw 0.3vw 0.3vw rgba(0, 0, 0, 0.2);
    border-radius: 70%;
    background: rgba(0, 0, 0, 0.1);
}

#game .recordBtn.gameButton-wrapper {
    width: 13%;
    height: 22%;
    position: absolute;
    bottom: 2%;
    left: 43.5%;
}

#game .recordBtn .gameButton {
    background: url('http://demo.cloudasr.com/static/img/microphone.png') no-repeat center top;
    background-size: contain !important;
    width: 93%;
    height: 80%;
}

#game .recordBtn.recording .gameButton {
    background: url('http://demo.cloudasr.com/static/img/microphone_speech.png') no-repeat center top;
}

#game .exitBtn.gameButton-wrapper {
    width: 8%;
    height: 11%;
    position: absolute;
    bottom: 2%;
    left: 57%;
}

#game .exitBtn .gameButton {
    background: url('../img/close-button.png') no-repeat center top;
    background-size: contain !important;
    width: 100%;
    height: 60%;
}

#game .gameWord, #game .gameResult, #game .gameInfo, .gameResultInfo, .gameWordOption, #game .gameOptionHolder, #game .gameWordStack {
    position: absolute;
}

#game .gameWord {
    box-shadow: 0.1vw 0.1vw 0.3vw 0.3vw rgba(0, 0, 0, 0.2);
    transform-origin: 0 0;
    z-index: -1;
}

#game .gameInfo, .gameResultInfo, #game .gameOptionHolder {
    box-shadow: 0 0 0 0.07vw rgba(255, 255, 255, 0.5), 0.1vw 0.1vw 0.3vw 0.3vw rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.1);
}

#game .gameInfo {
    font-size: 120%;
}

.gameResultInfo {
    font-size: 280%;
}

#game .gameOptionHolder {
    left: 35%;
    top: 30%;
    width: 30%;
    height: 35%;
    padding: 1.5% 0.5% 0 0.5%;
}

.gameWordOption {
    cursor: pointer;
    position: relative;
}

#game .gameWordStack {
    right: 0;
    bottom: 1.5%;
    width: 25%;
    height: 94.5%;
    box-shadow: 0.1vw 0.1vw 0.3vw 0.3vw rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.05) 50%, rgba(128, 128, 128, 0.05) 60%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
    background-clip: padding-box;
    overflow: hidden;
}

#game .gameWordStack:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6));
}

#game .bubbleDebris {
    position: absolute;
    width: 10%;
    height: 50%;
    background-color: #000;
    opacity: 1.0;
    overflow: hidden;
    border-radius: 50%;
}

#game .gameStats {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 15%;
    height: 32%;
    z-index: -102;
}

#game .lives, #game .gameTime, #game .roundTime {
    position: relative;
    margin-top: 5%;
    left: 33%;
    width: 66%;
    height: 25%;
    text-align: left;
    vertical-align: middle;
    font-size: 400%;
    font-weight: bold;
}

#game .lives:before, #game .gameTime:before, #game .roundTime:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    left: -50%;
    background-size: contain !important;
}

#game .lives:before {
    background: url('../img/heart.png') no-repeat left center;
}

#game .gameTime:before {
    background: url('../img/arrow-down.png') no-repeat left center;
}

#game .roundTime:before {
    background: url('../img/arrow-around.png') no-repeat left center;
}