<!DOCTYPE html>
<html>
<head lang="en">

    <meta charset="UTF-8">
    <title>trogASR</title>

    {% assets 'all-css' %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}
    {% assets 'all-js' %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% include 'components/menuItem.html' %}
    {% include 'components/letter.html' %}
    {% include 'components/localeSelectorItem.html' %}

    <div id="letter-metrics" ></div>

</head>
<body>

<div id="body">

    <header id="header">
        <h1>HEADER</h1>
        <div id="localeSelector"></div>
    </header>

    <nav id="menu"></nav>
    <section id="section"></section>
    <div id="push"></div>

</div>

<footer id="footer">
    Copyright &copy; 2015 Jan Milota
</footer>

<div id="loader"></div>

</body>
</html>