<!DOCTYPE html>
<html>
<head lang="en">

    <meta name="author" content="Janek Milota">
    <meta charset="UTF-8">
    <meta name="application-name"
          content="trogASR - The ultimate Translating Online Game using Automated Speech Recognition">
    <title>trogASR</title>
    <link rel="shortcut icon" href="../static/img/font/T.png"/>

    {% assets 'all-css' %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}

    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="http://louisremi.github.io/jquery.transform.js/jquery.transform2d.js"></script>
    <script src="http://demo.cloudasr.com/static/js/socket.io.js"></script>
    <script src="http://demo.cloudasr.com/static/js/Recorder.js"></script>
    <script src="../static/js/SpeechRecognition.js"></script>
    {#<script src="http://demo.cloudasr.com/static/js/SpeechRecognition.js"></script>#}

    <script type="text/javascript">
        $.app = {
            host: '{{ host }}',
            appId: '{{ appId }}'
        };
    </script>

    {% assets 'all-js' %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% include 'components/menuItem.html' %}
    {% include 'components/optionsItem.html' %}
    {% include 'components/letter.html' %}
    {% include 'components/word.html' %}
    {% include 'components/localeSelectorItem.html' %}
    {% include 'components/facebookIframe.html' %}
    {% include 'components/facebookWidget.html' %}
    {% include 'components/userInfoItem.html' %}
    {% include 'components/gameButton.html' %}
    {% include 'components/leaderboardsRow.html' %}

    <div id="letter-metrics"></div>

</head>
<body>

<header id="header">
    <div id="localeSelector"></div>
    <div id="fbHolder"></div>
</header>

<section id="body">
    <nav id="menu"></nav>
    <div id="options"></div>
    <div id="leaderboards"></div>
    <div id="game"></div>
    <div id="banner"></div>
</section>

<footer id="footer">
    Copyright &copy; 2015 Jan Milota
</footer>

<div id="loader"></div>
<div id="logoLoader"></div>

</body>
</html>